<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="http://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet" type="text/css"/>
  <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css"/>
  <link href="{{site.baseurl}}style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <nav container>
    <a class="logo" href="{{site.baseurl}}" 
      {% if page.picture %}style="background-image: url({{page.picture}})"{% endif %}
      >{{ site.title }}</a>
  </nav>
  <header style="background-image: url({{page.picture}});">
    <span container>
      <h1>{{page.title}}</h1>
      <p class="meta">
        {% if page.date %} Posted on <time>{{ page.date | date:'%B %d, %Y' }}</time> 
        {% elsif page.meta %}<em>{{ page.meta }}</em>
        {% endif %}
      </p>
      {% if page.attr %}<small class="attr">{{page.attr}}</small>{% endif %}
    </span>
  </header>
  <article container>
    {{ content }}
  </article>
  <footer>
    <em container>
      All writing, unless otherwise noted, is by <a href="http://distransient.ddns.net">Kel</a>
      and is licensed under the <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
      license. The source for this blog is licensed under 
      <a href="http://opensource.org/licenses/MIT">The MIT License</a> and can be found 
      <a href="https://github.com/mkgh/blog">here</a>. 
    </em>
  </footer>
</body>
</html>
