<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="http://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet" type="text/css"/>
  <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css"/>
  <link href="{{site.baseurl}}/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <a class="logo" href="{{site.baseurl}}/" 
    {% if page.picture %}style="background-image: url({{page.picture}})"{% endif %}
    >{{ site.title }}</a>
  {{ content }}
</body>
</html>
